### ART/Dalvik VM ###
*.dex

### Built application ###
*.ap_
*.apk

### Eclipse ###
bin/
gen/
out/
proguard/

### Emacs ###
*~
.*~
.\#*
\#*

### Gradle ###
.gradle/
build/

### Java class ###
*.class

### Keystore ###
*.jks

### Local (SDK, PATH, etc) ###
local.properties

### Log ###
*.log

### OS X ###
.DS_Store
